.banner{
    overflow: hidden;
    height: 36vh;
    max-height: 300px;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.banner-holder{
    margin-top: 10vh;
    padding: 0 5%;
}
.banner-title{
    margin-bottom: 1em;
    font-size: 1.8rem;
    font-weight: 800;
}
