/* 评论表单 */

.comment {
    margin-bottom: 4vh;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.comment-item .comment {
    margin: 12px 0 0 0;
}

.comment-bar {
    height: 22px;
    text-align: right;
}

.comment-close {
    width: 22px;
    padding: 5px;
    fill: var(--comment-close-color);
    border-radius: var(--border-radius);
}

.visitor-info>.ant-form-item {
    flex-grow: 1;
    margin-bottom: 4px;
}

.visitor-info .ant-input-affix-wrapper {
    border: none;
    border-bottom: 1px dashed var(--border-color);
}

.visitor-info .ant-input-prefix {
    margin-right: .6rem;
}

.visitor-info .ant-input-affix-wrapper-focused {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-bottom-color: var(--primary-color) !important;
}

.visitor-info .ant-form-item-explain {
    padding: 2px 0 0 11px;
}

.comment .content {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    padding-top: 8px
}

.comment .content:focus {
    box-shadow: none;
}

.comment-content>a {
    margin-right: .2rem;
}

.comment-pending {
    margin-top: 6px;
    color: var(--comment-pending-color);
}

.comment-pending>.icon {
    width: 16px;
    margin: 1px 2px 1px 0;
    vertical-align: sub;
    fill: var(--comment-pending-color);
}

.comment-footer {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.comment-submit {
    border: none;
    background: var(--comment-submit-background);
}

/* 评论列表 */

.comment-item, .comment-main {
    width: 100%;
}

.comment-body {
    display: flex;
    margin-bottom: 12px;
}

/* 头像 */

.comment-avatar, .comment-item .ant-skeleton-avatar {
    margin-right: 12px;
    width: 48px;
    height: 48px;
    border: 1px solid var(--border-color);
}

/* 评论头部 */

.comment-header {
    display: flex;
    justify-content: space-between;
    padding: .125rem .35rem;
    margin-bottom: .1rem;
    border-radius: var(--border-radius);
    background-color: var(--comment-header-background);
}

.comment-header-left {
    width: 85%;
}

.comment-header-left>span {
    display: inline-block;
    margin-right: .5rem;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.visitor-badge {
    padding: 0 6px;
    max-width: 30%;
    font-size: .843rem;
    border-radius: var(--border-radius);
    color: var(--comment-badge-color);
    background: var(--comment-badge-background);
}

.comment-author, .comment-author>a {
    max-width: 40%;
    color: var(--comment-author-color);
}

.comment-time {
    max-width: 25%;
    color: var(--comment-time-color);
}

/* 回复按钮 */

.comment-reply {
    cursor: pointer;
    width: 16px;
    vertical-align: sub;
    fill: var(--comment-reply-color);
}

/* 回复列表 */

.reply-list {
    margin: 12px 0 0 12px;
    padding-left: 15px;
    border-left: 1px solid var(--border-color);
}

.reply-list .comment-body, .reply-list .comment-content {
    margin-bottom: 0;
}

.reply-list .comment-header {
    margin-bottom: 0;
    padding: 0 5px 0 0;
    background: none;
}

.reply-list .comment-avatar, .reply-list .comment-item .ant-skeleton-avatar {
    width: 42px;
    height: 42px;
}

/* 展开按钮 */

.reply-spread {
    padding: 5px 0;
    cursor: pointer;
    transition: color .3s;
}

.reply-spread:hover {
    color: var(--primary-color);
}

/* 骨架 */

.comment-item.ant-skeleton {
    padding: 12px 0;
}

.comment-item .ant-skeleton-header {
    padding: 0;
}

.comment-item .ant-skeleton-title {
    margin: 0 0 16px 0 !important;
    width: 100% !important;
}

.reply-list .comment-item .ant-skeleton-title {
    margin-bottom: 6px !important;
}

.comment-item .ant-skeleton-paragraph {
    width: 50%;
    margin: 0 !important;
}

@media (min-width: 768px) {
    .comment-close {
        cursor: pointer;
    }
    .comment-close:hover {
        background: var(--comment-background-hover);
    }
    .comment .visitor-info {
        display: flex;
    }
    .comment-reply {
        opacity: 0;
        transition: opacity .2s;
    }
    .comment-reply:hover, .comment-body.reply-active .comment-reply {
        fill: var(--primary-color);
    }
    .comment-body:hover .comment-reply {
        opacity: 1;
    }
    .reply-list {
        margin-left: 60px;
        padding-left: 0;
        border-left: none;
    }
    .reply-list .comment-avatar, .comment-item .ant-skeleton-avatar {
        width: 44px;
        height: 44px;
    }
    .comment-item .ant-skeleton-title {
        margin-bottom: 12px !important;
    }
}