#root {
    overflow: hidden;
    padding-top: 2.8rem;
    min-width: 300px;
}

.lose-retinue {
    transition: transform .3s cubic-bezier(.78, .14, .15, .86);
}

#header.lose-retinue {
    transition: transform .3s cubic-bezier(.78, .14, .15, .86), top .3s ease;
}

/* 侧栏 */

.sider .ant-drawer-body {
    padding: 0;
}

#root.lose-sider .lose-retinue {
    transform: translateX(225px);
}

/* 主显示层 */

#topstory {
    margin: 0 auto;
    max-width: 1200px;
}

#main {
    padding: 0 4vw 2vh;
}

#sticky {
    padding: 2vh 4vw 2vh 2em;
}

/* 全屏加载 */

.spin-full {
    position: fixed !important;
    z-index: 1001 !important;
    max-height: none !important;
    background: var(--shadow-color);
}

#root>.ant-spin-nested-loading>.ant-spin-container {
    opacity: 1 !important;
}

#root>.ant-spin-nested-loading>.ant-spin-container::after {
    display: none;
}

/* 辅助租 */

.aux-group {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 40px;
}

.aux-item {
    display: flex;
    justify-content: center;
    height: 40px;
    fill: var(--text-color);
    background: var(--aux-item-background);
    border: 2px solid var(--aux-item-border-color);
    border-radius: 50%;
    transition: all .3s;
    cursor: pointer;
}

.aux-item svg {
    width: 16px;
}

.theme-change {
    fill: #F6BB42;
}

.theme-change svg {
    width: 20px;
}

.ant-back-top {
    bottom: 100px;
}

/* 兼容性 */

@media (min-width: 480px) {
    .aux-group {
        right: 60px;
    }
}

@media (min-width: 768px) {
    .sider {
        display: none;
    }
    .lose-retinue {
        transform: none !important;
    }
    /* 侧栏出现时，会去除滚动条,放大后恢复它 */
    .ant-scrolling-effect {
        overflow: visible !important;
    }
    .aux-group {
        right: 100px;
    }
    .aux-item:hover {
        background: var(--aux-item-background-hover);
    }
    .backtop:hover {
        fill: var(--primary-color);
    }
}