#root {
    overflow: hidden;
    min-width: 300px;
}

#root>div {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: transform .3s cubic-bezier(.78, .14, .15, .86), -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
}

.root-lose {
    transform: translateX(200px);
}

.sider .ant-drawer-body{
    padding: 0;
}

@media (min-width: 768px) {
    .sider {
        display: none;
    }
    .root-lose {
        transform: translateX(0) !important;
    }
}

#topstory{
    margin: 0 auto;
    max-width: 1200px;
}

#main{
    padding: 2vh 4%;
}

#sticky{
    padding: 2vh 0;
}

/* .zmain {
    overflow: hidden;
    padding: 2vh 4%;
    max-width: 1350px;
} */