#react-content{
    overflow: hidden;
}

.zmain {
    max-width: 1350px;
    margin-top: 2vh;
    padding: 2%;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: transform .3s cubic-bezier(.78, .14, .15, .86), -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
}

.zmain.drawer-open {
    transform: translateX(200px);
}