.profile {
    text-align: center;
    padding: 2em 2em 1em;
}

.sider .sider-footer {
    position: absolute;
    bottom: 0;
    margin-right: 8px;
    width: calc(100% - 8px);
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: var(--component-background);
}
.sider .sns{
    margin-left: 8px;
    border-top: 1px solid var(--border-color);
}

.sider .ant-menu-root {
    margin-bottom: 3rem;
}

.sider .ant-menu-item {
    width: 100%;
}

.ant-drawer-content {
    background: var(--component-background) !important;
}

.ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: 6px 0 16px -8px var(--lose-color), 9px 0 28px 0 var(--lose-color-second), 12px 0 48px 16px var(--lose-color-third) !important;
}