.sns {
    height: 100%;
}

.sns .ant-avatar {
    margin-left: 7px;
}

.sns-email {
    background: #F7B007 !important;
}

.sns-wechat {
    font-size: 15px !important;
    background: #07C160 !important;
}

.sns-github {
    font-size: 15px !important;
    background: #24292e !important;
}