.sns {
    height: 100%;
}

.sns svg {
    margin-left: 7px;
    width: 24px;
    vertical-align: middle;
}

.sns .icon-email {
    fill: #F7B007 !important;
}

.sns .icon-wechat {
    fill: #07C160 !important;
}

.sns .icon-github {
    fill: var(--github-color)!important;
}