/* 暂时无用 */
.album-item .ant-skeleton, .album-item .ant-skeleton-input {
    height: 100%;
}
.album-item .ant-skeleton{
    width: 100%;
}

.album-item {
    margin: auto;
    width: 100%;
    height: 85%;
    max-width: 760px;
}

.album-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    height: 100%;
    color: #F7F7F7;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    filter: brightness(var(--img-color-brightness));
    transition: border-color, transform .3s;
}

.album-holder:hover {
    border-color: transparent;
    transform: translateY(-2px) scale3d(1.025, 1.025, 1.025);
}

.album-holder>.title {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 3rem;
}
