.album-item, .album-img, .album-cover, .album-item .ant-skeleton, .album-item .ant-skeleton-input {
    height: 100%;
}

.album-item {
    overflow: hidden;
    margin: auto;
    width: 100%;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .album-item {
        width: 90%;
        height: 90%;
        max-width: 800px;
    }
    .album-item.done{
        cursor: pointer;
        transition: all 300ms ease;
    }

    .album-item.done:hover {
        width: 95%;
        height: 95%;
        max-width: 820px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .3);
    }
}

.album-img {
    background-size: cover;
    background-position: center;
}

/* 图片信息 */

.album-cover {
    position: relative;
    background-color: rgba(0, 0, 0, .2);
}

.album-meta {
    position: absolute;
    top: 40%;
    width: 100%;
    color: #fff;
    text-align: center;
}

.album-meta>.title {
    margin-bottom: 10px;
}