body {
    width: 100% !important;
    background-color: #f6f6f6;
    background-color: #fff;
}

img {
    width: 100%;
}

.card {
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.title {
    font-size: 1.4rem;
}

