.detail .title{
    margin: 2vh 0;
    text-align: center;
}

.detail-meta{
    text-align: center;
}

.detail-meta>div{
    display: inline-block;
    margin: 0 10px;
}

.detail-content{
    padding: 1em;
}
.detail-content>div{
    margin: 2vh 0;
}
.detail-content img{
    max-width: 600px;
}