.detail-header {
    margin: 0 auto;
    padding: 2vh 4vw;
    max-width: 1200px;
}

.detail-title {
    margin: 2vh 0;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.detail-meta {
    text-align: center;
}

.detail-meta>div {
    display: inline-block;
    margin: 0 10px;
}

/* 内容导航 */

.detail-toc .ant-anchor {
    padding-top: 10px;
    border-radius: 3px;
    background-color: #F7F7F7;
}

.detail-toc .ant-anchor-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.detail-toc .ant-anchor-link-title {
    font-size: .8rem;
}

.detail-toc .ant-anchor-ink-ball {
    margin-top: -6px;
    width: 3px;
    height: 21px;
}

/* 前后导航 */

.detail-nav {
    position: relative;
    height: 70px;
    border-top: 1px solid #eee
}

.nav-prev, .nav-next {
    position: absolute;
    width: 50%;
    line-height: 70px
}

.nav-prev {
    left: 0;
}

.nav-next {
    right: 0;
    text-align: right;
}

/* markdown解析 */

.detail-content {
    margin: 2vh 0 4vh;
}

.detail-content img {
    display: block;
    margin: auto;
    max-width: 600px;
}

pre {
    padding: .5em;
    overflow-y: auto;
    border-radius: 3px;
    background-color: #283646;
}

code {
    display: inline-block;
    margin: 0px 10px;
    font-size: .87rem;
    line-height: .85rem;
}

pre>code {
    color: #FFF;
    border: 0px;
    background-color: #283646;
}

.detail-content h1, .detail-content h2, .detail-content h3 {
    color: rgba(0, 0, 0, .75);
    font-weight: 600;
}

.detail-content h1 {
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.detail-content h2 {
    font-size: 1.05rem;
    line-height: 2rem;
}

.detail-content p {
    font-size: .95rem;
    line-height: 1.8rem;
}