
.hair-record{
    
    margin-top: 5vh;
    border-right: 1px solid #eee;
}
.hair-record>.title{
    line-height: 100px;
    text-align: center;
}

.img-row {
    overflow-x: auto;
    white-space: nowrap;
    padding: 50px 0;
}

.img-row>div {
    display: inline-block;
    max-width: 200px;
    margin-right: 30px;
}

.img-row>div>img {
    border-radius: 3px;
}

.img-row .arrow {
    vertical-align: text-top;
}