.list-item {
    margin: auto;
    width: 100%;
    max-width: 800px;
}

.notes-title {
    font-size: 1.2rem !important;
}

.notes-meta {
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 18px !important;
}

/* 图片 */

.album-img-wrap {
    padding: 8px 0;
}

.album-img, .seat .album-img-wrap .ant-skeleton-input {
    height: 260px;
    border-radius: 5px;
}

.album-img {
    overflow: hidden;
    border: 1px solid #DCDCDC;
    background-size: cover;
    background-position: center;
}

.album-cover {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .4);
}

@media (min-width: 576px) {
    .album-cover {
        height: 0;
    }
    .album-img:hover .album-cover {
        height: 100%;
        animation: enter-top .3s ease-in;
        -webkit-animation: enter-top .3s ease-in;
        -moz-animation: enter-top .3s ease-in;
    }
}

.album-meta {
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
    text-align: center;
}

.album-meta>.title {
    margin-bottom: .3em;
}

@keyframes enter-top {
    0% {
        z-index: 0;
        transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
    }
    100% {
        z-index: 0;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }
}

/* 占位 */

.seat {
    position: relative;
}

.list-item .ant-skeleton-content .ant-skeleton-title {
    height: 17px;
    margin-top: 10px;
}

.list-item .ant-skeleton-content .ant-skeleton-title+.ant-skeleton-paragraph {
    margin-top: 17px;
    margin-bottom: 23px;
}

.list-item .ant-skeleton-content .ant-skeleton-paragraph>li {
    height: 14px;
}

.list-item .ant-skeleton-content .ant-skeleton-paragraph>li+li {
    margin-top: 8px;
}