.list-item {
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 100%;
}

.list-title {
    font-size: 1.2rem !important;
}

.list-img-holder {
    margin-bottom: 10px;
    overflow: hidden;
    height: 50%;
    border: 1px solid #eee;
    border-radius: 5px;
}

.list-img {
    background-image: url(https://tvax1.sinaimg.cn/large/6f8a2832gy1gdrccpw1lij21z418g7o1.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
}

.list-meta {
    margin-bottom: .5em;
}

@media (min-width: 576px) {
    .list-title, 
    .list-img-holder, 
    .list-preview:hover {
        cursor: pointer;
    }
    .list-img-holder {
        height: 66%;
    }
    .list-img {
        transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        transition: -webkit-transform .5s ease-in-out;
        -webkit-transition: -webkit-transform .5s ease-in-out;
    }
    .list-preview {
        -webkit-line-clamp: 1 !important;
    }
    .list-title:hover {
        color: rgba(0, 0, 0, .7)
    }
    .list-preview:hover {
        color: rgba(0, 0, 0, 0.5);
    }
    .list-img:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

/* 占位 */

.seat {
    position: relative;
}

.list-img-holder .ant-skeleton, .list-img-holder .ant-skeleton-input {
    height: 100%;
}

/* .list-item .ant-skeleton-content .ant-skeleton-title {
    height: 17px;
    margin-top: 10px;
}

.list-item .ant-skeleton-content .ant-skeleton-title+.ant-skeleton-paragraph {
    margin-top: 17px;
    margin-bottom: 23px;
}

.list-item .ant-skeleton-content .ant-skeleton-paragraph>li {
    height: 14px;
}

.list-item .ant-skeleton-content .ant-skeleton-paragraph>li+li {
    margin-top: 8px;
} */