body {
    width: 100% !important;
}

* {
    -webkit-transition: color .3s cubic-bezier(.645, .045, .355, 1), border-color .3s cubic-bezier(.645, .045, .355, 1), background .3s cubic-bezier(.645, .045, .355, 1);
    transition: color .3s cubic-bezier(.645, .045, .355, 1), border-color .3s cubic-bezier(.645, .045, .355, 1), background .3s cubic-bezier(.645, .045, .355, 1);
}

img {
    width: 100%;
}

/* 滚动条 */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 2em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #1890ff;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

/* 全局样式 */

.title {
    font-size: 1.4rem;
}

.cut::after {
    content: " · ";
    padding: 0 .5%;
}


.ant-spin-nested-loading {
    overflow: hidden;
    height: 100%;
}

.ant-menu-vertical.ant-menu-sub {
    min-width: unset !important;
}

.ant-menu-vertical.ant-menu-sub>.ant-menu-item {
    padding: 0 20px;
}