@import '~antd/lib/style/themes/default.less';
@primary-color: red;

:root {
    --primary-color: @primary-color;

    --popover-background:@popover-background;
    --component-background: @component-background; 


    // Border color
    --border-color-base: @border-color-base;

    --text-color: @text-color;
    --text-color-secondary:@text-color-secondary;

    --input-icon-color:@input-icon-color;

    --avatar-bg: @avatar-bg;
}