@import '~antd/lib/style/themes/default.less';

@shadow-color: rgba(0, 0, 0, 0.3);
@text-color: fade(@black, 75%);
@text-color-secondary: fade(@black, 60%);

@sub-color: #F7F7F7;
@sub-color-hover: #FAFAFA;
@sub-color-sharp: #A9A9A9;
@sub-color-contrast: #2E2E2E;

@aux-color: #EEE;
@aux-color-sharp: #E0E0E0;

@banner-background-color: none;

@mkd-strong-color: #eee;
@mkd-code-background: #E0E0E0;
@mkd-precode-color: #f8f8f2;
@mkd-precode-background: #2a405a;
@mkd-quote-background: #F7F7F7;

:root {
    --primary-color: @primary-color;

    --component-background: @component-background;
    --popover-background: @popover-background;
    --popover-customize-border-color: @popover-customize-border-color;

    --text-color: @text-color;
    --text-color-secondary: @text-color-secondary;

    // common
    --border-color: @aux-color;
    --border-radius: @border-radius-base;

    --shadow-color: @shadow-color;

    --github-color: @sub-color-contrast;

    --scrollbar-thumb-background: @sub-color-sharp;
    --scrollbar-track-background: @aux-color;

    // backtop
    --aux-item-border-color: @aux-color-sharp;
    --aux-item-background: @sub-color;
    --aux-item-background-hover: @sub-color-hover;

    // banner
    --banner-color: fade(@black, 75%);
    --banner-background-color: @banner-background-color;

    // sider
    --sider-open-shadow: @background-color-base;
    --sider-open-shadow-secondary: @background-color-light;

    // album
    --album-color: @sub-color;

    // detail
    --toc-background: @sub-color;
    --detail-declare-background: @sub-color;


    // markdown
    --mkd-meta-color: @sub-color-sharp;
    --mkd-strong-color: @mkd-strong-color;
    --mkd-code-background: @mkd-code-background;
    --mkd-precode-color: @mkd-precode-color;
    --mkd-precode-background: @mkd-precode-background;
    --mkd-quote-border-color: @sub-color-sharp;
    --mkd-quote-background: @mkd-quote-background;

    --mkd-table-border-color: @aux-color;
    --mkd-table-trnth-background: @sub-color;


    // comment
    --comment-close-color: @sub-color-sharp;
    --comment-background-hover: @aux-color;
    --comment-submit-background: @aux-color;


    --comment-pending-color: @red-5;
    --comment-badge-color: #f7f7f7;
    --comment-badge-background: @red-5;
    --comment-header-background: @sub-color;
    --comment-author-color: @text-color-secondary;
    --comment-time-color: @text-color-secondary;
    --comment-reply-color: @sub-color-sharp;
}